<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div id="app">
    <p>Counter: {{ counter}}</p>
    <!-- Passing both the default event and a custom argument -->
    <button v-on:click="increase(2, $event)">Click me</button>
    <p v-on:mousemove="updateCoordinates">
      Coordinates: {{ x }} / {{ y }}
      <!-- Using an event modifier to create a dead spot-->
      - <span v-on:mousemove.stop>DEAD SPOT</span>
    </p>
    <input type="text" v-on:keyup.enter.k="alertMe">
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="app.js"></script>
</body>

</html>
