<h1>New Form</h1>

<!-- Phoenix generating the form -->
<%= form_for @changeset_variable, topic_path(@conn, :create), fn f -> %>
    <div class="form-group">
        <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
        <!-- Error tag regarding title field -->
        <%= error_tag f, :title %>
    </div>

    <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>