<%- include('header'); -%>
<div class="box" id="heading">
  <h1>
    <%=listTitle%>
  </h1>
</div>
<div class="box">
  <% for (var i=0; i < newListItems.length; i++){ %>
  <div class="item">
    <input type="checkbox">
    <p>
      <%=newListItems[i].name%>
    </p>
  </div>
  <% } %>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
    <button type="submit" name="submitButton" value=<%=listType%>>+</button>
  </form>
</div>
<%- include('footer'); -%>
