<!--
This is a comment. Note the special tags. You can type whatever you want
in a comment. You can leave notes for yourself or other people with it.
-->

<!--
I want you to make three elements:
* One paragraph
* Two spans
Make sure you put some text content in every element!

When you're ready to test, click "Test run" button to see how your page looks.
When you're ready to submit, click "Submit" button to get feedback!
-->
<p> My paragraph. </p>
<span> Span 1. </span>
<span> Span 2. </span>
<!--
Here's an example element:
<tag>content</tag>
-->
