<template>
    <q-card-actions
        align="right"
        class="q-mb-md"
    >
        <q-btn
            label="Save"
            color="primary"
            type="submit"
        />
    </q-card-actions>
</template>

<script>
export default {

}
</script>

<style>

</style>
