<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div id="app">
    <h1>V-for</h1>
    <ul>
      <li v-for="ingredient in ingredients"> {{ ingredient }}</li>
    </ul>
    <h1>Accessing the index</h1>
    <ul>
      <!-- Syntax: "(element, index) in elements" -->
      <li v-for="(ingredient, i) in ingredients"> ({{ i }}) {{ ingredient }} </li>
    </ul>
    <h1>Using a template</h1>
    <template v-for="(ingredient, index) in ingredients">
      <h4>{{ ingredient }}</h4>
      <p>{{ index }}</p>
      <hr>
    </template>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="app.js"></script>
</body>

</html>
