<!DOCTYPE html>
<html>

<head>
  <title>Mutliple Instances</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app1">
    <h1 ref="heading">{{ title }}</h1>
    <button v-on:click="show">Show Paragraph</button>
    <p v-if="showParagraph">This is not always visible</p>
  </div>

  <div id="app2">
    <h1>{{ title }}</h1>
  </div>
  <script src="app.js"></script>
</body>
